MSSQL_SA_PASSWORD=<senha-forte-do-sql-server-local>
GRAFANA_ADMIN_PASSWORD=<senha-do-usuario-admin-do-grafana-local>

SONAR_DB_USER=sonar
SONAR_DB_PASSWORD=<senha-do-banco-postgres-do-sonarqube>
SONAR_ADMIN_PASSWORD=<senha-definida-para-o-admin-do-sonarqube-no-primeiro-boot>
