SQL_CONNECTION_STRING=Server=tcp:<seu-server>.database.windows.net,1433;Database=OficinaMecanicaDb;User Id=adminfiap;Password=<sua-senha>;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;
